FacturaElectSaiOpen/Service References/tfhk_Adjuntos/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://testubl21.thefactoryhka.com.co/ws/adjuntos/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceSoap.UBL2._0.Models.Object" />
  <xs:import schemaLocation="http://testubl21.thefactoryhka.com.co/ws/adjuntos/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServiceSoap.UBL2._0.Response" />
  <xs:element name="CargarAdjuntos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceSoap.UBL2._0.Models.Object" minOccurs="0" name="adjunto" nillable="true" type="q1:CargarAdjuntos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarAdjuntosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceSoap.UBL2._0.Response" minOccurs="0" name="CargarAdjuntosResult" nillable="true" type="q2:UploadAttachmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>