FacturaElectSaiOpen/Service References/tfhk_Emision/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEvento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Evento" nillable="true" type="tns:Evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvento" nillable="true" type="tns:ArrayOfEvento" />
  <xs:complexType name="Evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="ambienteDIAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cufe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionEvento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emisorNumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emisorNumeroDocumentoDV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emisorRazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emisorTipoIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extras" nillable="true" type="tns:ArrayOfExtrasEvento" />
      <xs:element minOccurs="0" name="fechaEmision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRecepcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPerfilDIAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreArchivoXML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDelEvento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receptorNumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receptorNumeroDocumentoDV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receptorRazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receptorTipoIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCufe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoEvento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="versionUBL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Evento" nillable="true" type="tns:Evento" />
  <xs:complexType name="ArrayOfExtrasEvento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtrasEvento" nillable="true" type="tns:ExtrasEvento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExtrasEvento" nillable="true" type="tns:ArrayOfExtrasEvento" />
  <xs:complexType name="ExtrasEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoInterno1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoInterno2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtrasEvento" nillable="true" type="tns:ExtrasEvento" />
</xs:schema>